*~
*.swp
target/
prop-backups/
coruja.iml
.idea/modules.xml
.idea/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.target
.tern-project
.texlipse
.springBeans
build/
libs/
jaxws/jaxws-client/src/main/
rebel.xml
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
.project
.classpath
derby.log
.factorypath
.cproject
.buildpath
